/*  */

.cart-content {
    overflow-x: auto;
    margin-top: 25vh;
}

.cart-content table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

.cart-content table thead {
    font-weight: 700;
}

.cart-content table thead td {
    background-color: #fe4c50;
    font-size: 1.6rem;
    line-height: 30px;
    color: #fff;
    border: none;
    padding: 6px 0;
}

.cart-content table td {
    border: 1px solid #ccc;
    text-align: center;
}

.cart-content table td:nth-child(1) {
    width: 100px;
}

.cart-content table td:nth-child(2),
.cart-content table td:nth-child(3) {
    width: 200px;
    position: relative;
}

.cart-content table td:nth-child(4),
.cart-content table td:nth-child(5),
.cart-content table td:nth-child(6) {
    width: 170px;
    position: relative;
}

.cart-content table tbody img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart-content table tbody .cart-delete i {
    font-size: 1.8rem;
    line-height: 100px;
    color: #ccc;
}

.cart-content table tbody h5 {
    font-size: 1.8rem;
    position: absolute;
    /* line-height: 200px; */
    color: rgb(61, 56, 56);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart-content table .name-pro {
    font-size: 1.2rem;
}

.cart-content table tbody input {
    /* position: absolute; */
    /* font-size: 2rem;
    padding: 8px 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}


/*  */

.cart-bottom {
    margin-top: 20px;
}

.cart-bottom .coupon>div {
    border: 1px solid #ccc;
}

.cart-bottom .coupon h5,
.cart-bottom .total h5 {
    background-color: #fe4c50;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

.cart-bottom .coupon input,
.cart-bottom .coupon p {
    padding: 0 12px;
    font-size: 2rem;
    margin: 10px 0;
}

.cart-bottom .coupon input {
    height: 40px;
}

.cart-bottom .coupon input {
    margin: 0 12px 20px 12px;
}

.cart-bottom .coupon button {
    padding: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 6px 12px 14px 12px;
}

.cart-bottom .total>div {
    border: 1px solid #ccc;
}

.cart-bottom .total div>div {
    padding: 0 12px;
}

.cart-bottom .total h6 {
    color: #2a2a2a;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 600;
}

.cart-bottom .total p {
    color: #7e7e7e;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 600;
}

.second-hr {
    background-color: #2a2a2a;
    width: 100%;
    height: 1px;
}

.cart-bottom .total button {
    padding: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 6px 0 18px 12px;
}


/* update */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    width: 10px;
    font-size: 20px;
    border: none;
    text-align: center;
    outline: none;
}

.qty_input_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qty_input_wrapper i {
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
}